# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Data (large files - keep processed only)

data/raw/glorys/
data/raw/surface/
data/raw/argo/*.csv
data/raw/argo/*.nc        # ← add this
data/processed/*.nc       # ← add this

# Models
models/*.pt

# Logs
logs/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Credentials
config/.earthdata
.cdsapirc
.netrc

# Environment
.env
*.log
